<div class="well">
    <ul class="nav nav-list">
        <li class="nav-header">Panier</li>
        <a href="{{path('panier')}}" > {{compte}}&nbsp;artiles dans votre panier</a>
        </ul>
    </div>